$cMenuBlue:#5295D8; //メニューバー背景色
$cDarkBlue:#1370BD; //メニューバーホバー背景色
$cDarkBrown:#674A4A; //文字色
$cBrown:#7E6363; //フッター色
$cWhite:#fff; //白
$cWhitePink:#FEF1F1; //セクション偶数の時につく色
$cPink:#CF898A; //ボタン色
$cRGBBlue: rgb(19, 112, 189, 0.7);
$cYellow: #FFC526;