html {
  body {
    .works {
      width: 100%;
      .works-outer {
        @include section-outer;
        @include section-title;

        .work-price {
          text-align: center;
          h3 {
            font-weight: normal;
            margin-top: 25px;
          }
          @include p-margin;
        }

        .works-column {
          width: 90%;
          margin: 50px auto 0;
          a {
            img {
                width: 100%;
            }
            &:hover {
              opacity: 0.8;
            }
          }
          .works-text {
            margin-top: 15px;
          }
        }
      }
    }
  }
}